.global{
    background-image: url("../../assets/img/story-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
    

    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.titrecovertest{
    font-size: 4.5em;
    color: white;
    margin-top: 0%;
    padding-block-start: 28%;
}

.enonce{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding-block-end: 5%;

}

.coverbuttonname{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content:space-around;

}



