.global{
    background-image: url("../../assets/img/story-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0% ;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
    /* margin-top: 2%; */
    

    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.titrecovertest{
    font-size: 6em;
    color: white;
    margin-top: 0%;
    padding-block-start: 30%;
    font-family: 'Oswald', sans-serif;
}

.enonce{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    padding-block-end: 5%;

}

.coverbuttonname{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content:space-around;

}

/* Mobile */

.titrecovertest2{
    font-size: 4em;
    color: white;
    
}

.enonce2{
    color: white;
    font-style: bold;
    text-align: center;
    font-size: 1em;
    
}

/* .coverbuttonname2{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content:space-evenly;
    
} */

.bouttonmobilemathias{
    float: left;
} 
.bouttonmobileanais{
    float: right;
} 