
.grid-container{
  display: grid;
  grid-column-gap: 50px;
}

.grid-item{
  padding: 50px;
}

.sidenav{
  padding-top: 50px;
  width: 200px;
}

/* adaptation aux tailles d'écrans : SMARTPHONE*/
@media screen and (max-width: 767px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-areas:
      "aside"
      "main"
  }
  /* définition (nommage) des areas */
  aside{
    grid-area: aside;
  }
  main{
    grid-area: main;
  }
}

/* adaptation aux tailles d'écrans : TABLETTE*/
@media screen and (min-width: 768px){
  .grid-container{
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "aside main"
  }
  /* définition (nommage) des areas */
  aside{
    grid-area: aside;
  }
  main{
    grid-area: main;
  }
}
