
.titrefooter{
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  padding-top: 2%;
  
}

.boutton-social-footer{
  margin: 0px 7px;
  margin-bottom: 4%;
}

.footerbackcopyright{
  font-family: 'Oswald', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
}
