.chartepageglobal{
color: black;
font-size: 1.3em;
}

.fitimage-article2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-top: 2%;
}

.titre-article {
  color: grey;
  text-align: left;
  font-size: 2em;
}

.blog-article {
  text-align: justify;
  font-size: 0.8em;
}

.bouttondevischarte{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}